/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: auto; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto; /* Set the fixed height of the footer here */
  line-height: 0px; /* no vertical center. Put at bottom*/
}

